* {
	margin: 0;
}
html, body {
	font-family: "Open Sans", arial, sans-serif;
	color: #22373a;
	background: url("../img/cassie blurred.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
h1#maintitle, h2 {
	width: 100%;
	text-align: center;
	color: #ebedf3;
}
h1#maintitle {
	margin: 1em 0 0 0;
}
h2 {
	font-weight: 300;
}
ul, #submit {
	margin: 2em 2.5%; padding: 0;
	width: 95%;
	text-transform: uppercase;
	font-weight: 700;
}
ul > li {
	list-style-type: none;
}
#presets > ul > li {
	display: inline-block;
	width: 33.333%;
	padding: 1em 0;
	margin: 0;
	text-align: center;
	border: 1px solid #22373a;
	background: rgba(255, 255, 255, 0.666);
}
#options > ul > li {
	position: relative;
	font-size: 18px;
	margin: .3em 0; padding: .6em;
	border-radius: 2.5px;
	border: 1px solid #22373a;
	background: rgba(255, 255, 255, 0.666);
}
#options > ul > li:hover {
	background: #49b0ac;
	outline: 0;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
#options > ul > li:hover > div.label, ul > li:hover > div.option > input, ul > li:hover > div.option {
	color: #ebedf3;
}
#options > ul > li > div.label {
	display: inline-block;
	width: 70%;
}
#options > ul > li > div.option {
	display: inline-block;
	float: right;
	width: 30%;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
}
#options > ul > li > div.option > input {
	display: inline;
	cursor: pointer;
	border: 0;
	color: #22373a;
	font-size: 1em;
	font-weight: 700;
	background: transparent;
	vertical-align: middle;
}
#options > ul > li:hover > div.option > input {
	color: #ebedf3;
}
#options > ul > li > div.option > input.open {
	float: left;
}
#options > ul > li > div.option > input.close {
	float: right;
}
#options > ul > li > span.description {
	opacity: 0.0;
	display: block;
	position: absolute;
	left: 0;
	margin: 1.33em;
	padding: 1em;
	font-size: 16px;
	font-weight: 300;
	text-transform: none;
	border-radius: 2.5px;
	color: #1c1b20;
	background: #fff;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	z-index: 3;
	pointer-events: none;
}

#options > ul > li > span.description:after {
	content: '';
	position: absolute;
	top: 0;
	left: 1em;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: #fff;
	border-top: 0;
	margin-left: -10px;
	margin-top: -10px;
}
#options > ul > li:hover > span.description {
	opacity: 1.0;
}
#options > ul > li > span.description > span.warning {
	color: #f44;
}
#options > ul > li > span.description > span.warning:before {
	content: ' ';
}
#options > ul > li > span.description > span.impact {
	display: block;
	color: #da6;
}
#options > ul > li > span.description > span.impact:before {
	content: 'Performance Impact: ';
}
#submit {
	text-align: center;
}
#submit > a {
	font-family: "Open Sans", arial, sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	cursor: pointer;
	border: 0;
	padding: 1em 2em;
	border-radius: 2.5px;
	border: 1px solid #22373a;
	color: #22373a;
	background: rgba(255, 255, 255, 0.666);
}
#submit > a:hover {
	color: #ebedf3;
	background: #49b0ac;
	outline: 0;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
#options > ul > li > div.option > input.hidden {
	cursor: default;
	opacity: 0.25;
}
